/* set root variables */

:root {
    --primary: #333dc7;
    --secondary: #e4c8b1;
    --light: aliceblue;
    --dark: #192231;
    --accent: #c20000;
    --bg-main: hsl(200, 100%, 35%);

    --wrong: hsl(0, 100%, 38%);
    --correct: hsl(150, 100%, 34%);
}


/* element selectors */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
}

/* set default text sizing */
h1 {
    font-size: 2.5rem;
    line-height: 1.75em;
    padding: 20px;
    text-align: center;
    clear: both;
}

h2 {
    font-size: 1.75rem;
    padding: 10px;
}

h3 {
    font-size: 1.5rem;
    padding: 5px
}

p {
    line-height: 1.3rem;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}


/* section formatting (header, main, footer) */

header {
    padding: 5px 0 15px 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav a, footer a {
    padding: 0 10px;
    color: var(--light);
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

button {
    padding: 0.5em;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

footer {
    padding: 10px 0;
    flex-shrink: 0;
}

footer p {
    text-align: center;
    padding-top: 10px;
}

/* class selectors */

.card {
    background-color: var(--light);
    padding: 15px;
    border-radius: 10px;
    max-width: 95%;
    box-shadow: 0 0 10px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers-group {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 10px 0;
    align-items: center
}

.hide {
    display: none;
}

/* id selectors */

#start-btn {
    font-size: 2em;
    font-weight: bold;
}